@charset "UTF-8";

/*================================================
 *  CSSリセット
 ================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*================================================
 *  一般・共通設定
 ================================================*/
body {
	font-size:14px;
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height:1.6;
	margin: 0;
	padding: 0;
}

#wrapper {  
	width: 950px; 
	margin: 0 auto; 
	padding: 0; 
}

header {
	width:950px;
	height:120px;
	float: center;
	margin: 0 auto;
}

#contents {
	width:950px;
	height:500px;
	float:center;
	margin:5;
	padding:5px;
}

#contents_left {
	float: left;
	width:475px;
	height:550px;
	display: flow-root;
}

#contents_right {
	float: right;
	width:475px;
	height:550px;
	display: flow-root;
}

a{
	color:#043771;
}
a:hover {
	color:#144d8d;
}

h1 {
	font-size:28px;
}
h2 {
	font-size:40px;
	color:#333;
	text-align:left;
}
h3 {
	margin-bottom:0.25em;
	font-size:18px;
}
h4 {
	margin-bottom:0.25em;
	font-size:16px;
}
h5 {
	margin-bottom:0.25em;
	padding-left:25px;
	font-size:16px;
	background:url('../images/bg_arrow_black.png') 0 50% no-repeat;
}
h6 {
	margin-bottom:0.25em;
	padding-left:5px;
	font-size:16px;
	font-weight:bold;
}

p {
	margin:0 0 1em 0;
}
img {
	vertical-align:bottom;
}
em {
	font-weight:bold;
}
strong {
	font-weight:bold;
	color:#ff0000;
}
pre {
	margin:1em 0;
	padding:1em;
}
blockquote {
	margin-bottom:1em;
	padding:1em;
	border:1px dotted #ddd;
	border-left:5px solid #ddd;
}
ul,ol,dl {
	margin:0 0 1em 0;
}
ul li {
	list-style:disc;
}
ol li {
	list-style:decimal;
}
li {
	margin-left: 2em;
}
dt {
	margin-bottom:0.5em;
	border-bottom:1px dotted #ddd;
}
dd {
	margin-bottom:1em;
}
table {
	width:100%;
	margin-bottom:1em;
	border-collapse:collapse;
	border:1px solid #ddd;
}
th {
	padding:10px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #ddd;
	background:#f1f1f1;
}
td {
	padding:10px;
	text-align:left;
	border:1px solid #ddd;
}

#bgIndex {
	background-image: url("../images/bg.png");
	background-position: center 0px;
	background-repeat: repeat;
	background-size: auto;
}

#bgChikaarashi {
	background-image: 
		url("../images/chikaarashi4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgNishimura {
	background-image: 
		url("../images/nishimura4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgJyo {
	background-image: 
		url("../images/jyo4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgIzumi {
	background-image: 
		url("../images/izumi4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgSasaki {
	background-image: 
		url("../images/sasaki4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgSugawara {
	background-image: 
		url("../images/sugawara4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgTateno {
	background-image: 
		url("../images/tateno4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgYamaguchi {
	background-image: 
		url("../images/yamaguchi4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgKuwayama {
	background-image: 
		url("../images/kuwayama4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgHanji {
	background-image: 
		url("../images/hanji4.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgChikaarashi2 {
	background-image: 
		url("../images/chikaarashi6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgNishimura2 {
	background-image: 
		url("../images/nishimura6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgJyo2 {
	background-image: 
		url("../images/jyo6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgIzumi2 {
	background-image: 
		url("../images/izumi6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgSasaki2 {
	background-image: 
		url("../images/sasaki6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgSugawara2 {
	background-image: 
		url("../images/sugawara6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgTateno2 {
	background-image: 
		url("../images/tateno6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgYamaguchi2 {
	background-image: 
		url("../images/yamaguchi6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgKuwayama2 {
	background-image: 
		url("../images/kuwayama6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}

#bgHanji2 {
	background-image: 
		url("../images/hanji6.png"),
		url("../images/bg.png");
	background-position: 
		center 0px,
		center 0px;
	background-repeat: 
		no-repeat,
		repeat;
	background-size: 
		auto,
		auto;
}


#icon1 {
	position:relative;
	top: -12px;
	left: 11px;
}

#icon2 {
	position:relative;
	top: -27px;
	left: 5px;
}

#icon3 {
	position:relative;
	top: -42px;
	left: -1px;
}

#icon11 {
	position:relative;
	top: -12px;
	left: 11px;
}

#icon22 {
	position:relative;
	top: -27px;
	left: 5px;
}

#icon33 {
	position:relative;
	top: -42px;
	left: -1px;
}

.quizTitle {
	position: relative;
	top: 80px;
	left: 38px;
}

#quizLevel {
	position: relative;
	left: 50px;
}


/*================================================
 *  汎用クラス
 ================================================*/

/* グローバルナブ */
#content nav{
	padding-top: auto;
	width: 100%;
	margin: 10px;
	padding: 10px;
}

ul.foo {
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 0px;
}

ul.foo li {
	color: #a0a09f;
	line-height: 30px;
	display: table-cell;
	text-align: center;
	font-size:16px;
}

ul.foo li a {
	display: ;
	text-decoration: none;
}

.content_header {
	width: 100%;
	padding-top: 0px;
	height: 40px;
	display: flow-root;
}

.footer {
	text-align: right;
	width: 900px;
	height: 40px;
	position: top;
	display: flow-root;
}

/* 位置調整 */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.absolute_bottom {
	position: absolute;
	bottom: 50px;
	float: center;
}

.absolute_text {
	position: absolute;
	top: 40px;
	left: 50px;
}

.absolute_image {
	position: absolute;
	top: -25px;
	left: 70px;
}

/* 画像中央寄せ */
.imgC {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
	text-align:center;
}
.imgC img {
	border-radius:5px;
	margin-bottom:0.5em;
}

/* 画像左寄せ */
.imgL {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
}
.imgL img {
	float:left;
	margin:0 1em 0.5em 0;
	border-radius:5px;
}

/* 画像右寄せ */
.imgR {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
}
.imgR img {
	float:right;
	margin:0 0 1em 0.5em;
	border-radius:5px;
}
.imgR_footer {
	clear:both;
	overflow:hidden;
	margin-bottom:50px;
}
.imgR_footer img {
	float:right;
	margin:5px;
	border-radius:5px;
}

.txtC {
	text-align: center;
}

/* ビデオ */
.video-wrap {
    position: relative;
}
.video-btn {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:40px; /*コントローラー分下部に余白を*/
    cursor: pointer;
}


/*================================================
 *  ヘッダー
 ================================================*/
header {
	position:relative;
}

header #h1_wrapper{
	position:absolute;
	display: table;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:330px;
	height:0px;
	z-index:10;
}

header #h1_wrapper h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #FFF;
}


/*================================================
 *  メイン
 ================================================*/
main {
	width:80%;
}

section {
	margin-bottom:10%;
}

/*================================================
 *  フッター
 ================================================*/
footer {
	clear:both;
	padding:auto;
	font-size:11px;
	text-align:center;
	margin: 0;
	padding: 0.5em 0;
}

/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:767px) {

	#bgSasaki2 {
		background-image: 
			url("../images/sasaki6.png"),
			url("../images/bg.png");
		background-position: 
			center 0px,
			center 0px;
		/*margin: 0 auto;*/
		background-repeat: 
			no-repeat,
			repeat;
		background-size: 
			cover,
			auto;
	}
}
